<div class="container-fluid container-fluid-displaynote">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <h2 mb-4>Welcome <%= user %>, To Your Notes!</h2>
      <% if (notes.length === 0) { %>
        <h2> Create Your First Note!</h2>
        <figure>
          <img
            src="img/pexels-anete-lusina-5239790.png"
            alt="Hand holding a pen over a notepad"
            width="500"
            height="400"
          />
        </figure>
        <a href="/dashboard/note-create" class="btn btn-secondary btn-create mb-4">Create A Note</a>
      <% } else { %>
        <a href="/dashboard/note-create" class="btn btn-secondary btn-create mb-4">Create A Note</a>
        <div id="note-container" class="row note-card">
          <% notes.forEach((note) => { %>
            <div class="col-md-4 mb-2">
              <div class="card mb-3"">
                <div class="card-body">
                  <h5 class="card-title"><%- note.title %></h5>
                  <p class="card-text"><%- note.noteBody %></p>
                  <!-- <p fw-6 class="card-text">Created on: <%- note.dateCreated %></p> -->
                  <a href="/notes/<%= note._id %>/edit" class="btn btn-secondary btn-group">Edit</a>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      <% } %>
    </div>
  </div>
</div>