<div class="continer-fluid pb-5 mb-4">
  <div class="container-fluid-fitnote">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item main-breadcrumb-color"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active active-breadcrumb-color"><%= note.title %>></li>
      </ol>
    </nav>
  <div class="row mb-">
    <div class="col">
      <div class="col d-flex justify-content-between align-items-center">
        <h3>View Note</h3>
        <a
          href="/notes/<%= note._id %>"
          class="btn btn-danger"
          data-bs-toggle="modal"
          id="deleteButton"
          data-bs-target="deleteModal"
          >Delete</a
        >
      </div>
    </div>
  </div>
  <form action="/dashboard/notes/<%= noteID %>?_method=PUT" method="POST" class="position-relative">
    <div class="form-group mb-2">
      <input
        type="text"
        class="form-control border-0 fw-bold"
        id="title"
        name="title"
        value="<%= note.title %>"
      />
    </div>
    <div class="form-group mb-4">
      <textarea
      class="form-control textarea border-0 fw-bold "
      id="noteBody"
      name="noteBody"
      rows="10"
    ><%= note.noteBody %></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-secondary btn-create btn-lg">Update</button>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
    </div>
  </form>
</div>
</div>

<!-- Delete Modal -->
<div class="modal" tabindex="-1" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" fw-bold>Caution!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Proceed with Caution.</p><br>
          You are about to delete <%= note.title %>. <br/>
          Proceed?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <form action="/dashboard/notes/<%= noteID %>?_method=DELETE" method="POST" class="'position-relative">
            <button type="submit" class="btn btn-secondary">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

